.searchInputs {
    margin-top: 0px;
    display: flex;
  }
  
  .search input{
    background-color: white;   
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 12px;
    padding: 15px;   
    width: 215px;
    color
  }
  
  .searchIcon {
    background-color: lightgray;  
    border: 2px solid gray;  
    width: 50px;
    background-color: white;
    display: grid;
    place-items: center;
    color: gray;
  }
  
  input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 35px;
  }  

  
  #clearBtn {
    cursor: pointer;
  }